html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ color:  #1a73e8;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6 {
  font-size: 120%;
  text-transform: uppercase;
}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #009FBC;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #1d1d1d url(pattern.png) repeat;
  border-bottom: 2px solid  #1a73e8;
  height: 177px;}
  
#banner
{ background: transparent url(banner.png) no-repeat;
  width: 896px;
  height: 180px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 15px;
}


#logo
{ width: 880px;
  position: relative;
  height: 140px;
  background: transparent;}

#logo #logo_text 
{ position: absolute; 
  top: 10px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color:  #1a73e8;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #FFF;}

#menubar
{ width: 880px;
  height: 46px;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  background: transparent;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: transparent;} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}

ul#menu li.selected
{ margin: 1px 2px 0 0;
  background:  #1a73e8;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background:  #1a73e8;
  color: #FFF;}

ul#menu li a:hover
{ color: #FFF;
  background:  #1a73e8;}

#site_content
{ width: 900px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;} 

#sidebar_container
{ float: right;
  width: 224px;}

.sidebar_item {
  border: 1px solid grey;
  border-radius: 15px;
  padding: 15px;
  width: 192px;
  margin-bottom: 20px;
}

.sidebar_item li a.selected
{ color: #444;} 

.sidebar_item ul
{ margin: 0;} 

.content
{ text-align: left;
  width: 620px;
  padding: 20px;
  float: left;
  border: 1px solid grey;
  border-radius: 15px;
}
  
.content ul
{ margin: 2px 0 22px 0px;}

.sidebar_item ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;


  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: transparent url(pattern.png) repeat;
  border-top: 2px solid  #1a73e8;
  color: #FFF;}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color:  #1a73e8;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background:  #1a73e8; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

.hor-table {
  width: 100%;
  border-collapse: collapse;
}
.hor-table tr th {
  padding: 5px 0;
  border-bottom: 1px solid #ececec;
}
.hor-table tr td {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}
#sub-menu {
  background: url('pattern.png');
  display: none;
  position: absolute;
  margin: 0;
  top: 171px;
}
ul#sub-menu li {
  padding-top: 10px;
  padding-left: 0;
  float:none;
  margin-right:0;
}
ul#sub-menu li a {
  padding-left: 30px;
  padding-right: 43px;
  text-align: left;
  float:none;
}
#menu>li:hover #sub-menu {
  display: block;
}

#subsub-menu {
  background: url('pattern.png');
  position: absolute;
  left: 115px;
  top: 0;
  display: none;
}

ul#subsub-menu li a {
 width: 100px;
 padding-right: 0;
}

#sub-menu>li:hover #subsub-menu {
  display: block;
}



.ver-table {
  list-style: none !important;
  list-style-position: outside;
}

.ver-table li {
  overflow: hidden;
  margin-bottom: 5px;
  padding: 3px 0 8px;
  width: 620px;
  border-bottom: 1px solid #ececec;

}

.ver-table li label {
  display: inline-block;
  width: 140px;
  /* float: left; */
  line-height: 1.8;
}

.ver-table li>span {
  display: inline-block;
  width: 400px;
  /* float: left; */
  line-height: 1.8;
}

.container {
  text-align: center;
}

.button {
  border-radius: 4px;
  padding: 7px 20px;
  box-shadow: none;
  cursor: pointer;
  border: none;
  background-color: #1a73e8;
  color: white;
}

ul#small-button {
  margin: 0 10px 0 auto;
  list-style: none;
  float: right !important;
}

ul#small-button >li {
  vertical-align: middle;
  margin: 0 !important;
}
#small-button input {
  border-radius: 4px;
  padding: 3px 15px;
  box-shadow: none;
  cursor: pointer;
  border: none;
  background-color: #1a73e8;
  color: white;
}

.read {
  border:none; 
  vertical-align: middle; 
}

.read:focus {
  outline:none;
}
